
    <header class="header">
        <div class="header-bar">
            <div class="nav--ul-logo">
                <a href="/" ><img src="../images/logo.png" alt="logo" class="img-logo"></a>
            </div>
            <div class="nav--ul-search">
                <form action="/buscador" method="get" name="formu">
                    <input class="input-search" type="text" name="busqueda" placeholder="Busca tu producto">
                    <i class="icon-search fas fa-search" id="iconBuscador"></i>
                </form>
            </div>
            <div class="icon-menu-bar" id="buttonBar">
                <i class="fas fa-bars"></i>
            </div>  
        </div>
        <nav>
            <ul class="menu" id="menu">
                <button class="dropdown-toggle nav--button" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    Categorias
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li class="container--button-item"><a class="button-item" href="../categoria/autos">Autos</a></li>
                    <li class="container--button-item"><a class="button-item" href="../categoria/deporte">Deporte</a></li>
                    <li class="container--button-item"><a class="button-item" href="../categoria/electrodomesticos">Electrodomesticos</a></li>
                    <li class="container--button-item"><a class="button-item" href="../categoria/tecnologia">Tecnologia</a></li>
                    <li class="container--button-item"><a class="button-item" href="../categoria/utiles">Utiles</a></li>
                </ul>
                <li class="nav--ul-li"><a class="link" href="../contacto">Contacto</a></li>
                <li class="nav--ul-li"><a href="../compras"><i class="fas fa-shopping-cart carrito" id="carrito"><span id="cantidad--carrito"></span></i></li></a>
            </ul>
        </nav>
    </header>
