:root{
    --white: rgb(255,255,255);
    --ligth-blue: rgb(64, 104, 221);
    --dark-grey: rgb(29, 29, 34);
    --grey: rgb(69, 69, 83);
    --red: rgb(129, 10, 10);
    --green: rgb(13, 82, 13);
    --light-red : rgb(255,122,122);
}
html, body {
    overflow-x: hidden;
}
body{
    position: relative;
    font-family: sans-serif;
    background-color: rgb(69, 69, 83);
    box-sizing: border-box;   
    min-height: 100vh;
}
/* Header */
.header {
    width: 100%;
    height: 80px;

}
.header-bar {
    height: 80px;
    background-color: var(--dark-grey);
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
.img-logo {
    width: 80px;
}
.nav--ul-search {
    flex-grow: 2;
}
.input-search {
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    position: relative;
    height: 40px;
    font-size: 20px;
    border: none;
    outline: 0;
    border-radius: 5px;
}
.icon-search {
    position: absolute;
    color: var(--dark-grey);
    left: 75%;
    top: 30px;
    font-size: 20px;
}

@media screen and (min-width: 768px) {
    .input-search {
        width: 40%;
        position: relative;
    }
    .icon-search {
        position: absolute;
        z-index: 100;
        left: 45%;
        color: var(--dark-grey);
    }
}
.icon-menu-bar {
    font-size: 40px;
    color: var(--white);
    margin-right: 20px;
}
@media screen and (min-width: 768px){
    .icon-menu-bar {
        display: none;
    }
}
.menu {
    list-style: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    transition: transform 1s;
    transform: translateX(100%);
    z-index: 1000;
}
@media screen and (min-width: 768px) {
    .menu {
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        transform: translateX(0);
    }
}
.menu-show {
    transform: translateX(0);
}
.nav--ul-li {
    text-align: center;
}
.nav--button {
    padding: 20px;
    display: block;
    border: none;
    width: 100%;
    font-size: 22px;
    color: var(--ligth-blue);
    background-color: var(--dark-grey);
}
@media screen and (min-width: 768px) {
    .nav--button {
        width: auto;
    }
}
.dropdown-menu {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    background-color: var(--dark-grey);
}
@media screen and (min-width: 768px) {
    .dropdown-menu {
        width: 50%;
        background-color: var(--dark-grey);
    }
}
.container--button-item {
    text-decoration: none;
    padding: 10px;
    text-decoration: none;
    font-size: 22px;
}
.button-item {
    text-decoration: none;
}
.link {
    display: block;
    padding: 22px;
    text-decoration: none;
    font-size: 22px;
    color: var(--ligth-blue);
    background-color: var(--dark-grey);
}
.carrito {
    position: relative;
    z-index: 1000;
    display: block;
    padding: 22px;
    width: 100%;
    font-size: 22px;
    color: var(--light-blue);
    background-color: var(--dark-grey);
}
@media screen and (min-width: 768px) {
    .carrito {
        cursor: pointer;
    }
}
.cantidad--carrito {
    position: absolute;
    background-color: var(--white);
    font-size: 18px;
    border-radius: 50%;
    padding: 1px 3px;
    top: 10px;
    right: 47%;
}
@media screen and (min-width: 768px) {
    .cantidad--carrito {
        top: 10px;
        right: 18px;
    }
}
/* MAIN */
.main {
    display: block;
    background-color: var(--grey);
}
.container-products {
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
    .container-products {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1024px) {
    .container-products {
        grid-template-columns: repeat(4, 1fr);
    }
}
.product-link {
    text-decoration: none;
}
.product {
    width: 250px;
    height: 540px;
    margin: 30px auto;
    background-color: var(--white);
    border-radius: 10px;
}
@media screen and (min-width: 768px) {
    .product {
        transition: transform .4s;
    }
    .product:hover {
        transform: scale(1.1);
    }
}

.product-img {
    width: 248px;
    height: 290px;
    object-fit: contain;
}
.container-price-stock {
    display: flex;
}
.product-price, .product-stock-true, .product-stock-false {
    display: inline-block;
    margin-left: 20px;
    color: var(--white);
    border-radius: 10px;
}
.product-price {
    font-size: 24px;
    background-color: var(--ligth-blue);
    padding: 10px;
}
.product-stock-true, .product-stock-false {
    font-size: 18px;
    padding: 14px 5px 0 5px;
}
.product-stock-true{
    background-color: var(--green);  
}
.product-stock-false {
    background-color: var(--red);
}
.product-name {
    font-size: 18px;
    display: block;
    margin: 20px;
}
.button--shop {
    position: relative;
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 10px 20px;
    width: 80%;
    border: none;
    outline: 0;
    border-radius: 6px;
    background-color:var(--ligth-blue);
    color: var(--white);
    z-index: 5000;
    text-decoration: none;
}
/* Ruta individual del producto */

.categoria-product {
    margin: 20px;
    color: var(--white);
}
.container-product-individual {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr;
}
@media screen and (min-width: 768px) {
    .container-product-individual {
        grid-template-columns: repeat(2, 1fr);
    }
}
.container-individual-img {
    background-color: var(--white);
    border: 1px solid var(--grey);
    border-radius: 10px;
}
.product-individual-img {
    width: 90%;
    height: 450px;
    margin: 25px;
    object-fit: contain;
}

.product-all-title {
    margin: 20px;
    font-size: 48px;
    color: var(--white);
}
.product-all-price {
    display: inline-block;
    padding: 20px;
    background-color: var(--ligth-blue);
    margin: 20px;
    font-size: 24px;
    color: var(--white);
    border-radius: 10px;
}

.product-all-stock-true, .product-all-stock-false{
    display: inline-block;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    font-size: 18px;
    color: var(--white);
}
.product-all-stock-false{
    background-color: var(--red);
}
.product-all-stock-true{
    background-color: var(--green);
}
.title-descripcion, .product-all-description {
    margin: 20px;
    color: var(--white);
}

/* CONTACTO */
.formulario {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin: 20px 5%;
    color: var(--white);
}
@media screen and (min-width: 768px) {
    .formulario {
        grid-template-columns: repeat(2, 1fr);
    }
}
.contact--title {
    color: var(--white);
    display: block;
    width: 100%;
    margin: 20px;
    padding: 20px;
}
.container--formu-inputs {
    display: inline-block;
    width: 100%;
}
.formu--label {
    display: block;
    margin: 10px;
    padding-bottom: 0;
    font-size: 18px;
    text-align: center;
}
.container--input-icon {
    position: relative;
}
.formu--input {
    display: block;
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
    outline: 0;
    border: none;
    height: 35px;
    font-size: 20px;
    padding: 10px 40px 10px 10px;
}
.container--formu-textarea {
    display: block;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
    .container--formu-textarea {
        grid-column: 1 / 3;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
       
    }
}
.formu--textarea { 
    display: block;
    margin: 10px auto;
    width: 90%;
    border-radius: 10px;
    outline: 0;
    border: none;
    padding-right: 45px;
}
.formu--button {
    display: block;
    width: 90%;
    background-color: var(--dark-grey);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto 20px auto;
    font-size: 20px;
    color: var(--white);
    outline: 0;
    border: none;
    border-radius: 10px;
}
@media screen and (min-width: 768px) {
    .formu--button {
        grid-column: 1 / 3;
        width: 75%;
        margin-right: 12.5%;
        margin-left: 12.5%;
    }
}
/* styles de validaciones de contacto */
.formulario--msj-error-desactivado {
    display: none;
}
.formulario--msj-error-activado {
    display: block;
    margin-left: 5%;
    font-size: 20px;
}
.icon--error-activado, .icon--check-activado {
    position: absolute;
    top: 9px;
    right: 45px;
}
.icon--textarea {
    right: 40px;
}
@media screen and (min-width: 768px) {
    .icon--textarea {
        right: 55px;
    }
}
.icon--error-activado {
    color: var(--light-red);
}
.icon--check-activado {
    color: var(--green);
}
.formulario--error {
    display: none;
}
.formulario--bien {
    display: block;
    text-align: center;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    font-size: 22px;
    background-color: var(--light-red);
    border-radius: 6px;
    margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
    .formulario--bien {
        grid-column: 1 / 3;
    }
}
.icon--exclamation-triangle {
    padding-right: 10px;
}

/* mensaje.html  */
.container--msj {
    display: block;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}

.img--msj {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    object-fit: contain;
    margin-bottom: 40px;
}
.text--msj {
    text-align: center;
    font-size: 25px;
    color: var(--white);
}
/* estilos Compra */
.title-compra {
    text-align: center;
    margin: 20px;
    color: var(--white)
}
.container--lista-carrito {
    display: grid;
    grid-template-columns: 1fr;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
}

.container--producto-carrito {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    background-color: var(--white);
    border-radius: 10px;
}
@media screen and (min-width: 768px) {
    .container--producto-carrito {
        flex-direction: row;
    }
}
.producto--carrito-img {
    width: 300px;
    height: 200px;
    object-fit: contain;
}
.producto--carrito-titulo {
    margin-top: 20px;
    margin-bottom: 20px;
    
    color: var(--ligth-blue);
}
.producto--carrito-precio {
    font-size: 24px;
    color: var(--light-blue);
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
.icon-basura {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 6px;
    background-color: var(--light-red);
    z-index: 100;
}
@media screen and (min-width :768px) {
    .icon-basura {
        cursor: pointer;
    }
}
.container--cuenta-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 80px;
    margin-right: 10%;
    margin-left: 10%;
    background-color: var(--white);
    border-radius: 10px;
}
.container--metodos-pagos {
    display: flex;
    flex-direction: column;
}
.container--pagos {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    
}
.radio--pago {
    margin-left: 20px;
    margin-top: 5px;
}
.label--pago {
    margin-left: 5px;
}
.precio--total {
    display: block;
    color: var(--ligth-blue);
    font-size: 24px;
    width: 100%;
    text-align: center;
    margin-right: 50px;
}
@media screen and (min-width: 768px) {
    .precio--total {
        width: 30%;
    }
}